<div class="form-group nested-fields">
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :media, 'Demo Image' %>
  <%= f.file_field :media %>

  <%= f.label :overview, 'Feature Overview' %>
  <%= f.text_area :overview %>
  <%= link_to_remove_association 'Remove Technology', f %>'
</div>