<div class="form-group nested-fields">
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :video, 'Demo Video' %>
  <%= f.file_field :video %>

  <%= f.label :img, 'Demo Image' %>
  <%= f.file_field :img %>

  <%= f.label :overview, 'Feature Overview' %>
  <%= f.text_area :overview %>
  <%= link_to_remove_association 'Remove Technology', f %>'
</div>