<div class="portfolio-main">
  <section class='grid-sort-section' id='portfolio'>
    <h1 class='title'>Here are some of my Projects</h1>

    <div class="grid-sort <%= "sortable" if logged_in?(:site_admin) %>">
      <% @portfolio_items.each do |portfolio_item| %>
        <%= link_to(portfolio_show_path(portfolio_item)) do%>
            <ul class='portfolio-item' data-id='<%= portfolio_item.id %>'>

              <li class='background'>
                <%= image_tag(portfolio_img(portfolio_item.thumb_image), class: 'background') %>
              </li>

              <li class="content">
                <h2 id='id'><%= portfolio_item.title %></h2>
                <p><%= portfolio_item.subtitle %></p>
              </li>

            </ul>
        <% end %>
      <% end %>
    </div>
  </section>
</div>