<div class="show">
<section 
  class='headline' 
  style="background-image: url('<%= portfolio_img(@portfolio_item.main_image) %>')"
  >
   <h1><%= @portfolio_item.title %></h1>

 	<%= admin_links('portfolio_path(@portfolio_item)', 'admin-links') %>
  </section>

	<section class='description'>
    <div class='paired-image'></div>

    <div class='copy'>
      <%= markdown(@portfolio_item.body) %>
    </div>
  </section>

	<%= @portfolio_item.link %>
</div>

<div>

	<h3> Technologies Used </h3>

	<% @portfolio_item.technologies.each do |t| %>
	<p><%= t.name %></p>
	<% end %>

	
</div>