<div class="show">
  <section 
  class='headline' 
  style="background-image: url('<%= portfolio_img(@portfolio_item.main_image) %>')"
  >
    <h1 style="color: white;" class="grid-logo"><%= @portfolio_item.title %></h1>

    <%= admin_links('portfolio_path(@portfolio_item)', 'admin-links') %>
  </section>

  <section class='description'>
    <%= image_tag(@portfolio_item.body_img, class:'paired-image')%>

    <div class='copy'>
      <%= markdown(@portfolio_item.body) %>

      <div class="buttons">
        <%= link_to(content_tag(:button, 'Website'), @portfolio_item.link, class: 'button') if @portfolio_item.link? %>
        <%= link_to(content_tag(:button, 'Source-Code'), @portfolio_item.source_link, class: 'button') if @portfolio_item.source_link? %>
      </div>
    </div>
  </section>

  <div class="divider"></div>

  <section class="technologies copy">
    <div class="tech-overview">
      <h2>How was this Application Built?</h2>

      <p><%= markdown(@portfolio_item.tech_overview) %></p>
    </div>

    <div class="chart">
      <%= pie_chart @portfolio_item.technologies.group(:name).sum(:percent_utilized), legend: "bottom", 
                                                                donut: true, 
                                                                width: "100%", 
                                                                height: "400px", 
                                                                suffix: "%"
                                                                %>
    </div>
  </section>

  <div class="divider"></div>

  <section class="feature-showcase">
    <h1>Features</h1>

    <div class="features">
      <% @portfolio_item.features.each do |feature| %>
        <section class="feature">
          <div class='copy'>
            <h2><%= feature.title %></h2>
            <p><%= feature.overview %></p>
          </div>

          <%= video_tag(feature.media,
                        autoplay: true,
                        loop: true,
                        muted: true,
                        poster: feature.media,
                        class: 'paired-image') %>
        </section>
      <% end %>
    </div>
  </section>
</div>
