<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <% @job.errors.full_messages.each do |error| %>
      <%= alert_generator(error) %>
    <% end %>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :link %>
    <%= f.text_area :link %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <label class="btn btn-primary">
      Upload Description Image <%= f.file_field :description_img, style: 'display:none;' %>
    </label>
  </div>

  <div class="field">
    <%= f.label :experience %>
    <%= f.text_area :experience %>
  </div>

  <div class="field">
    <label class="btn btn-primary">
      Upload Experience Image <%= f.file_field :experience_img, style: 'display:none;' %>
    </label>
  </div>
  
  <div class="field">
    <label class="btn btn-primary">
      Upload Job Image <%= f.file_field :img %>
    </label>
  </div>

  <div class="field">
    <label class="btn btn-primary">
      Upload Job Logo <%= f.file_field :logo %>
    </label>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
  </div>

  <%= f.submit %>
<% end %>