<h1 class='title' >Work History</h1>

<div class="grid-sort">
  <% @jobs.each do |job| %>
    <%= link_to(job_show_path(job)) do%>
        <ul class="job">
          <li class='background'>
            <%= image_tag(img(job.img), class: 'background') %>
          </li>

          <li class='content'>
            <% if job.logo? %>
              <%= image_tag(img(job.logo), id: 'logo') %>
            <% else %>
            <h2 id="logo"><%= job.name %></h2> 
            <% end %>
            <p>Location: <%= job.title %></p>
            <p>Status: <%= job.location %></p>
          </li>
        </ul>
    <% end %>
  <% end %>
</div>