<h1><%= @job.name %></h1>

<p><%= @job.location %></p>

<p><%= @job.title %></p>

<p><%= @job.link %></p>

<%= image_tag(img(@job.img), width: '300')%>

<p><%= markdown(@job.description) %></p>

<%= admin_links('job_path(@job)') %>