<h1>hello from Jobs Show</h1>

<h1><%= @job.name %></h1>

<p><%= @job.location %></p>

<p><%= @job.title %></p>

<%= image_tag(img(@job.logo), width: '300')%>

<p><%= markdown(@job.description) %></p>

<%= admin_links('job_path(@job)') %>