<div class="app-card-container">
  <div class="card">

    <div class="row">
      <div class="col-md-6">

      <h4>Education</h4>

        <div class='card'>
          <div class='card-body'>
            <p>Call or Text: <%= number_to_phone "3852294959" %></p>

            <p>Email: Harmtan2@gmail.com</p>

            <p>Facebook: Message</p>

            <p>LinkedIn: Message</p>
          </div>
        </div>

        <br>

        <h4>Work History</h4>

        <div class='card'>
          <div class='card-body'>
            <p>Call or Text: <%= number_to_phone "3852294959" %></p>

            <p>Email: Harmtan2@gmail.com</p>

            <p>Facebook: Message</p>

            <p>LinkedIn: Message</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">

      <h4>Skillset</h4>

        <div class='card'>
          <div class='card-body'>
            <div class="skills">
              <% @skills.each do |skill| %>
                <div class="skill">
                  <h6><%= skill.title %></h6>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning"
                    role="progress-bar"
                    aria-valuenow= <% skill.percent_utilized %>
                    aria-valuemax="100"
                    style="width: <%= skill.percent_utilized %>%"
                    >
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <br>
        
        <h4>Get in Touch</h4>

        <div class='card'>
          <div class='card-body'>
            <p>Call or Text: <%= number_to_phone "3852294959" %></p>

            <p>Email: Harmtan2@gmail.com</p>

            <p>Facebook: Message</p>

            <p>LinkedIn: Message</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>