<section class='intro'>
  <%= image_tag('intro.jpg', alt: 'profile picture') %>

  <h1>Welcome</h1>
  
  <p>I appreciate you're time today. Here you'll find what I can do for {{Company-Name}}</p>
</section>

<section class='intro'>
  <%= image_tag('intro.jpg', alt: 'profile picture') %>

  <h1>About-2</h1>
  
  <p>I appreciate you're time today. Here you'll find what I can do for {{Company-Name}}</p>
</section>

<section class='intro'>
  <%= image_tag('intro.jpg', alt: 'profile picture') %>

  <h1>Qualifications-3</h1>
  
  <p>I appreciate you're time today. Here you'll find what I can do for {{Company-Name}}</p>
</section>

<section class='intro'>
  <%= image_tag('intro.jpg', alt: 'profile picture') %>

  <h1>Portfolio-4</h1>
  
  <p>I appreciate you're time today. Here you'll find what I can do for {{Company-Name}}</p>
</section>

<section class='intro'>
  <%= image_tag('intro.jpg', alt: 'profile picture') %>

  <h1>Contact-5</h1>
  
  <p>I appreciate you're time today. Here you'll find what I can do for {{Company-Name}}</p>
</section>

<%# <section class="about">
  <div class="hobbies">
  
  </div>

  <div class="journey">
  
  </div>

  <div class="bio">
  
  </div>
</section>


<section class="portfolio">
  <div class="front-end">

  </div>

  <div class="back-end">
  
  </div>

</section>

<section class="qualifications">

  <div class="work-history">

  </div>

  <div class="skillset">
  
  </div>

  <div class="education">
  
  </div>
</section> %>