<div class="home-main">
  <%= render partial: 'main_home_intro'%>
  <%= render partial: 'about_intro'%>
  <%= render partial: 'qualifications_intro'%>
  <%= render partial: 'portfolio_intro'%>
  <%= render partial: 'contact'%>
</div>