<section class='intro home-section'>
  <%= image_tag('intro.jpg', alt: 'profile picture') %>
  
  <div class="section-title">
    <h1>Welcome!</h1>
    <h2>Glad to have you here.</h2>
  </div>
  
  <div class="content">
    <p>I appreciate you're time today. Here you'll find all I have to offer {{Company-Name}}. Hope to speak with you soon!</p>
  </div>
</section>


<section class="about home-section" id='about'>
  <%= image_tag('about.jpg', alt: 'profile picture') %>

  <h1 class="section-title">Let me introduce myself.</h1>

  <div class="content">
    <p>
      The culture of {{Company-Name}} is important to productivity, quality, and ultimetly impact. So here, you'll see who I am and can evaluate if we're a good cultural fit together. You'll see where I've come from, what I like to do, and my journey through life that has brought me to where I am today.
    </p>
  </div>
</section>

<section class="qualifications home-section">
  <%= image_tag('intro.jpg', alt: 'profile picture') %>

  <h1 class="section-title">What I have to offer</h1>

  <div class="work-history">

  </div>

  <div class="skillset">
  
  </div>

  <div class="education">
  
  </div>
</section>

<section class="portfolio home-section">
  <%= image_tag('code-background.jpg', alt: 'profile picture') %>

  <h1 class="section-title">Here's what I've built so far</h1>

  <div class="front-end">

  </div>

  <div class="full-stack">
  
  </div>
</section>

<section class="contact home-section">
  <%= image_tag('intro.jpg', alt: 'profile picture') %>

  <h1 class="section-title">Let's Chat</h1>

  <div class="work-history">

  </div>

  <div class="skillset">
  
  </div>

  <div class="education">
  
  </div>
</section>