<section class='grid-sort-section' id="education">
  <%= render( file: 'schools/index') %>
</section>

<div class="divider"></div>

<section class='grid-sort-section' id="skillset">
  <h1>Skillset</h1>
    <div class="skills">
    <div class="graphic">
      <div>
        <%= image_tag('CSS3_logo_and_wordmark.svg')%>
        <%= image_tag('HTML5 Logo.svg')%>
      </div>

      <div>
        <%= image_tag('javascript-js-seeklogo.com.svg')%>
      </div>

      <div>
        <%= image_tag('Ruby_On_Rails_Logo.svg')%>
        <%= image_tag('Ruby_logo.svg')%>
      </div>
    </div>

    <div class="chart">
      <%= pie_chart Skill.group(:title).sum(:percent_utilized), legend: "bottom", 
                                                                donut: true, 
                                                                width: "100%", 
                                                                height: "400px", 
                                                                suffix: "%"
                                                                %>
    </div>
    </div>
</section>

<div class="divider"></div>

<section class='grid-sort-section' id="work-history">
  <%= render( file: 'jobs/index') %>
</section>