<div class="show">
  <section 
  class='headline' 
  style="background-image: url('<%= img(@school.img) %>')"
  >
    <%= image_tag(img(@school.logo), class: 'grid-logo')%>

    <%= admin_links('school_path(@school)', 'admin-links') %>
  </section>

  <section class='description'>
    <%= image_tag(@school.description_img, class: 'paired-image') %>

    <div class='copy'>
      <%= markdown(@school.description) %>
    </div>
  </section>

  <div class="divider"></div>

  <section class='details'>
    <h1>School Details</h1>
    <div>
      <%= icon('fas', 'map-marker-alt')%>
      <h3>Attended Location</h3>
      <%= @school.location %>
    </div>

    <div>
      <%= icon('fas', 'check')%>
      <h3>Completion Status</h3>
      <%= @school.status %>
    </div>

    <div>
      <%= icon('fas', 'calendar-day')%>
      <h3>Attended</h3>
      <p><%= @school.start_date.strftime("%b, %Y") %> - 
      <%= school_end_date(@school) %>
    </div>
  </section>

  <div class="divider"></div>

  <section class="experience">
    <div class='copy'>
      <%= markdown(@school.experience) %>
    </div>

    <%= image_tag(@school.experience_img, class: 'paired-image') %>
  </section>

  <p><%= @school.link %></p>
</div>